<section>
  <div class="border-bottom">
    <div fxLayout="row" fxLayoutAlign="space-between" class="">

      <div fxFlex="auto" fxFlex.sm="80" fxFlex.md="85" fxFlex.lg="90" fxFlex.xl="93" fxLayout="row" fxLayout.xs="column"
        fxLayoutAlign="start start">
        <div class="m-div">M</div>
        <div class="header-name">
          <h4>Message Now</h4>
        </div>
      </div>
      <div fxFlex="40" fxFlex.sm="20" fxFlex.md="15" fxFlex.lg="10" fxFlex.xl="7" class="ml-auto">
        <span>
          <mat-icon aria-hidden="false">search</mat-icon>
        </span>
        <span>
          <mat-icon aria-hidden="false">notifications</mat-icon>
        </span>
      </div>

    </div>
  </div>
</section>
