<section>
  <div class="border-bottom">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="m-div">M</div>
        <h4>Message Now</h4>
      </div>
      <div class="ml-auto">
        <span>
          <mat-icon aria-hidden="false">search</mat-icon>
        </span>
        <span>
          <mat-icon aria-hidden="false">notifications</mat-icon>
        </span>
      </div>

    </div>
  </div>
</section>
