<div>

  <section>
    <div class="p-50">
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="30px" class="margin-bottom-20">
        <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="border-block">
          <h3>Reviews</h3>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="30px" class="margin-bottom-20">
        <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="border-block">
          <mat-tab-group (selectedIndexChange)="onTabSelect($event)">
            <mat-tab label="Review From Customer">
              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px" fxLayoutGap.sm="0px"
                fxLayoutGap.xs="0px" fxLayout.sm="column" fxLayout.xs="column">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px" fxLayoutGap.xs="0px"
                  fxLayout.xs="column">
                  <div fxFlex="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="border-block">
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-label>Location</mat-label>
                      <mat-select name="location" [(ngModel)]="location" (selectionChange)="onLocationChange()"
                        multiple>
                        <mat-option (click)="toggleAllSelection('location')" [value]="allLocationSelected">All
                        </mat-option>
                        <mat-option *ngFor="let location of locations" [value]="location.value">
                          {{location.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="border-block">
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-label>Working Staff</mat-label>
                      <mat-select name="location" [(ngModel)]="staff" (selectionChange)="onSatffChange()" multiple>
                        <mat-option (click)="toggleAllSelection('staff')" [value]="allSatffSelected">All</mat-option>
                        <mat-option *ngFor="let staff of staffs" [value]="staff.value">
                          {{staff.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px" fxLayoutGap.xs="0px"
                fxLayout.xs="column">
                  <div fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="border-block">
                    <!-- <mat-form-field appearance="outline">
                      <mat-label>Time Range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matInput placeholder="Start date" [(ngModel)]="startDate">
                        <input matInput placeholder="End date" [(ngModel)]="endDate">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field> -->
                    <mat-form-field class="width-100" appearance="outline">
                      <mat-label>Choose a date</mat-label>
                      <input matInput [matDatepicker]="picker" (focus)="picker.open()">
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="border-block">
                    <mat-form-field appearance="outline" class="width-100">
                      <mat-label>Sort</mat-label>
                      <mat-select name="location" [(ngModel)]="sort">
                        <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                          {{sort.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 customer" *ngIf="tabIndex === 0">

                  <!-- Customer Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                    <td mat-cell *matCellDef="let item">
                      <div>{{item.name}} </div>
                    </td>
                  </ng-container>

                  <!-- Bussiness Rating Column -->
                  <ng-container matColumnDef="bussinessRate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bussiness Rating </th>
                    <td mat-cell *matCellDef="let item">
                      <div fxLayout="column" fxLayoutAlign="start start">
                        <div><i class="material-icons yellow-text"
                            *ngFor="let dummy of ' '.repeat(item.bussinessRate).split(''), let x = index">star</i>
                          <i class="material-icons yellow-text" *ngIf="item.bussinessRate  % 1 !== 0">star_half</i>
                        </div>

                        <div>
                          {{item.businessDetail}}
                        </div>

                        <div><span><i class="material-icons pointer grey-text"
                              (click)="item.businessLike = item.businessLike + 1">thumb_up</i></span><span>{{item.businessLike}}</span><span><i
                              class="material-icons pointer grey-text"
                              (click)="item.businessDislike = item.businessDislike + 1">thumb_down</i></span><span>{{item.businessDislike}}</span><span><i
                              class="material-icons pointer grey-text"
                              (click)="openCommentDialog(item, 'customer')">message</i></span><span>{{item.businessMessage}}</span><span><i
                              class="material-icons pointer grey-text">share</i></span><span>{{item.businessShare}}</span>
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Therapist Name Column -->
                  <ng-container matColumnDef="therapistName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Therapist Name </th>
                    <td mat-cell *matCellDef="let item">
                      <div>{{item.therapistName}} </div>
                    </td>
                  </ng-container>

                  <!-- Therapist Rating Column -->
                  <ng-container matColumnDef="therapistRate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Therapist Rating </th>
                    <td mat-cell *matCellDef="let item">
                      <div fxLayout="column" fxLayoutAlign="start start">
                        <div><i class="material-icons yellow-text"
                            *ngFor="let dummy of ' '.repeat(item.therapistRate).split(''), let x = index">star</i>
                          <i class="material-icons yellow-text" *ngIf="item.therapistRate  % 1 !== 0">star_half</i>
                        </div>
                        <div>
                          {{item.therapistDetail}}
                        </div>
                        <div><span><i class="material-icons pointer grey-text"
                              (click)="item.therapistLike = item.therapistLike +1">thumb_up</i></span><span>{{item.therapistLike}}</span><span><i
                              class="material-icons pointer grey-text"
                              (click)="item.therapistDislike = item.therapistDislike + 1">thumb_down</i></span><span>{{item.therapistDislike}}</span><span><i
                              class="material-icons pointer grey-text"
                              (click)="openCommentDialog(item, 'therapist')">message</i></span><span>{{item.therapistMessage}}</span><span><i
                              class="material-icons pointer grey-text">share</i></span><span>{{item.therapistShare}}</span>
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Skill Column -->
                  <ng-container matColumnDef="skill">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill </th>
                    <td mat-cell *matCellDef="let item">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <div><i class="material-icons yellow-text"
                            *ngFor="let dummy of ' '.repeat(item.skill).split(''), let x = index">star</i>
                          <i class="material-icons yellow-text" *ngIf="item.skill  % 1 !== 0">star_half</i>
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Communucation Column -->
                  <ng-container matColumnDef="communication">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Communucation </th>
                    <td mat-cell *matCellDef="let item">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <div><i class="material-icons yellow-text"
                            *ngFor="let dummy of ' '.repeat(item.communication).split(''), let x = index">star</i>
                          <i class="material-icons yellow-text" *ngIf="item.communication  % 1 !== 0">star_half</i>
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Attitude Column -->
                  <ng-container matColumnDef="attitude">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Attitude </th>
                    <td mat-cell *matCellDef="let item">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <div><i class="material-icons yellow-text"
                            *ngFor="let dummy of ' '.repeat(item.attitude).split(''), let x = index">star</i>
                          <i class="material-icons yellow-text" *ngIf="item.attitude  % 1 !== 0">star_half</i>
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Date Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let item">
                      <div>{{item.date}} </div>
                    </td>
                  </ng-container>

                  <!-- Service Name Column -->
                  <ng-container matColumnDef="serviceName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Name </th>
                    <td mat-cell *matCellDef="let item">
                      <div>{{item.serviceName}} </div>
                    </td>
                  </ng-container>

                  <!-- Duration Column -->
                  <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
                    <td mat-cell *matCellDef="let item">
                      <div>{{item.duration}} mins</div>
                    </td>
                  </ng-container>

                  <!-- Cost Column -->
                  <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
                    <td mat-cell *matCellDef="let item">
                      <div>${{item.cost}} </div>
                    </td>
                  </ng-container>

                  <!-- Tips Column -->
                  <ng-container matColumnDef="tips">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tips </th>
                    <td mat-cell *matCellDef="let item">
                      <div>${{item.tips}} </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


                <!-- <table class="width-100 customer" matSort (matSortChange)="sortData($event)">
                  <thead>
                    <tr>
                      <th mat-sort-header="name">Customer Name</th>
                      <th mat-sort-header="bussinessRate">Bussiness Rating</th>
                      <th mat-sort-header="therapistName">Therapist Name</th>
                      <th mat-sort-header="therapistRate">Therapist Rating</th>
                      <th mat-sort-header="skill">Skill</th>
                      <th mat-sort-header="communication">Communucation</th>
                      <th mat-sort-header="attitude">Attitude</th>
                      <th mat-sort-header="date">Date</th>
                      <th mat-sort-header="serviceName">Service Name</th>
                      <th mat-sort-header="duration">Duration</th>
                      <th mat-sort-header="cost">Cost</th>
                      <th mat-sort-header="tips">Tips</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of sortedData">
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div>{{item.name}}</div>
                        </div>

                      </td>
                      <td>
                        <div fxLayout="column" fxLayoutAlign="start start">
                          <div><i class="material-icons yellow-text"
                              *ngFor="let dummy of ' '.repeat(item.bussinessRate).split(''), let x = index">star</i>
                            <i class="material-icons yellow-text" *ngIf="item.bussinessRate  % 1 !== 0">star_half</i>
                          </div>

                          <div>
                            {{item.businessDetail}}
                          </div>

                          <div><span><i
                                class="material-icons pointer grey-text">thumb_up</i></span><span>{{item.businessLike}}</span><span><i
                                class="material-icons pointer grey-text">thumb_down</i></span><span>{{item.businessDislike}}</span><span><i
                                class="material-icons pointer grey-text">message</i></span><span>{{item.businessMessage}}</span><span><i
                                class="material-icons pointer grey-text">share</i></span><span>{{item.businessShare}}</span>
                          </div>
                        </div>

                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div>{{item.therapistName}}</div>
                        </div>

                      </td>
                      <td>
                        <div fxLayout="column" fxLayoutAlign="start start">
                          <div><i class="material-icons yellow-text"
                              *ngFor="let dummy of ' '.repeat(item.therapistRate).split(''), let x = index">star</i>
                            <i class="material-icons yellow-text" *ngIf="item.therapistRate  % 1 !== 0">star_half</i>
                          </div>
                          <div>
                            {{item.therapistDetail}}
                          </div>
                          <div><span><i
                                class="material-icons pointer grey-text">thumb_up</i></span><span>{{item.therapistLike}}</span><span><i
                                class="material-icons pointer grey-text">thumb_down</i></span><span>{{item.therapistDislike}}</span><span><i
                                class="material-icons pointer grey-text">message</i></span><span>{{item.therapistMessage}}</span><span><i
                                class="material-icons pointer grey-text">share</i></span><span>{{item.therapistShare}}</span>
                          </div>
                        </div>

                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div><i class="material-icons yellow-text"
                              *ngFor="let dummy of ' '.repeat(item.skill).split(''), let x = index">star</i>
                            <i class="material-icons yellow-text" *ngIf="item.skill  % 1 !== 0">star_half</i>
                          </div>
                        </div>

                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div><i class="material-icons yellow-text"
                              *ngFor="let dummy of ' '.repeat(item.communication).split(''), let x = index">star</i>
                            <i class="material-icons yellow-text" *ngIf="item.communication  % 1 !== 0">star_half</i>
                          </div>
                        </div>

                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div><i class="material-icons yellow-text"
                              *ngFor="let dummy of ' '.repeat(item.attitude).split(''), let x = index">star</i>
                            <i class="material-icons yellow-text" *ngIf="item.attitude  % 1 !== 0">star_half</i>
                          </div>
                        </div>

                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div>{{item.date}}</div>
                        </div>
                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div>{{item.serviceName}}</div>
                        </div>
                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div>{{item.duration}} mins</div>
                        </div>
                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div>${{item.cost}}</div>
                        </div>
                      </td>
                      <td>
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <div>${{item.tips}}</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table> -->

              </div>

            </mat-tab>
            <mat-tab label="Review From Therapist">

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px" fxLayoutGap.xs="0px"
                fxLayout.xs="column">
                <div fxFlex="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="20" class="border-block">
                  <mat-form-field appearance="outline" class="width-100">
                    <mat-label>Location</mat-label>
                    <mat-select name="location" [(ngModel)]="locationInTherapist" (selectionChange)="onLocationChange()"
                      multiple>
                      <mat-option (click)="toggleAllSelection('location')" [value]="allLocationSelected">All
                      </mat-option>
                      <mat-option *ngFor="let location of locations" [value]="location.value">
                        {{location.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="20" class="border-block">

                  <mat-form-field class="width-100" appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker1" (focus)="picker1.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker1">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.sm="25" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="20" class="border-block">
                  <mat-form-field appearance="outline" class="width-100">
                    <mat-label>Sort</mat-label>
                    <mat-select name="location" [(ngModel)]="sort">
                      <mat-option *ngFor="let sort of sorts" [value]="sort.value">
                        {{sort.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8 therapist" *ngIf="tabIndex === 1">

                  <!-- therapistName Column -->
                  <ng-container matColumnDef="therapistName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let item">
                          <div>{{item.therapistName}}</div>
                    </td>
                    </ng-container>

                  <!-- therapistRate Column -->
                  <ng-container matColumnDef="therapistRate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Score </th>
                    <td mat-cell *matCellDef="let item">
                      <div><i class="material-icons yellow-text"
                          *ngFor="let dummy of ' '.repeat(item.therapistRate).split(''), let x = index">star</i>
                        <i class="material-icons yellow-text" *ngIf="item.therapistRate  % 1 !== 0">star_half</i>
                      </div>
                    </td>
                  </ng-container>

                  <!-- therapistDetail Column -->
                  <ng-container matColumnDef="therapistDetail">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
                    <td mat-cell *matCellDef="let item">
                      <div fxLayout="column" fxLayoutAlign="start start">

                        <div>
                          {{item.therapistDetail}}
                        </div>
                        <div><span><i class="material-icons pointer grey-text">thumb_up</i></span><span>{{item.therapistLike}}</span><span><i
                              class="material-icons pointer grey-text">thumb_down</i></span><span>{{item.therapistDislike}}</span><span><i
                              class="material-icons pointer grey-text">message</i></span><span>{{item.therapistMessage}}</span><span><i
                              class="material-icons pointer grey-text">share</i></span><span>{{item.therapistShare}}</span>
                        </div>
                      </div>
                    </td>
                  </ng-container>

                  <!-- submitDate Column -->
                  <ng-container matColumnDef="submitDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let item">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <div>{{moment(item.submitDate, "MM/DD/YYYY").format("MMM DD YYYY")}}</div>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
              </div>

            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </section>
</div>
