.name-div {
  font-size: 35px;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  line-height: 1.7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.name-small-div {
  font-size: 35px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.font-15 {
  font-size: 15px;
}

.grey-text {
  color: gray;
}

.green-text {
  color: green;
}

.recommends {
  font-size: 23px;
  color: crimson;
  margin: 0 7px;
}

.width-100 {
  width: 100%;
}

.border {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 20px;
}

.material-icons {
  vertical-align: middle;
  margin: 0 7px;
}

.pointer {
  cursor: pointer;
}

.mb-14 {
  margin-bottom: 14px;
}

.m-0 {
  margin: 0;
}

.font-bold {
  font-weight: bold;
}

.comment-box {
  background-color: #e6eaff;
  padding: 15px;
  border-radius: 25px;
  margin: 5px;
}
